numpy
astropy
sunpy
pandas
ndcube
matplotlib
ccsdspy
prefect
regularizepsf
git+https://github.com/punch-mission/solpolpy.git@imax-effect-integration
setuptools
pytest
scipy
lmfit
scikit-image
reproject
python-dateutil
