numpy
astropy
sunpy
pandas
ndcube
matplotlib
ccsdspy
prefect
regularizepsf
git+https://github.com/punch-mission/solpolpy.git@develop
setuptools
pytest
scipy
lmfit
scikit-image
reproject
python-dateutil
ruff
pytest
coverage
hypothesis