numpy
astropy
sunpy
pandas
ndcube
matplotlib
ccsdspy
prefect
regularizepsf
solpolpy
setuptools
pytest
scipy
lmfit
scikit-image
reproject
pylibjpeg
python-dateutil
pyyaml

ruff
pytest
coverage
hypothesis
pre-commit
