numpy==1.23.5
astropy==5.2
sunpy==4.1.0
pandas==1.5.2
ndcube==2.0.3
matplotlib==3.6.2
ccsdspy==0.0.10
prefect==2.7.1
regularizepsf==0.0.1
setuptools~=65.6.3
pytest~=7.2.1
scipy~=1.10.0
lmfit~=1.1.0
scikit-image~=0.19.3
reproject~=0.10.0
python-dateutil~=2.8.2
ruff
pytest
coverage
hypothesis