numpy
astropy
sunpy[all]
pandas
ndcube
matplotlib<=3.9.2
ccsdspy
prefect
regularizepsf
solpolpy
scipy
lmfit
sunkit-image
setuptools
reproject
pylibjpeg
python-dateutil
thuban
remove_starfield>=0.0.4
quadprog
pylibjpeg[openjpeg]
requests
astroid>=3
sphinx
sphinx-gallery
sphinx_rtd_theme
codespell
packaging
pydata-sphinx-theme
sphinx-autoapi
sphinx-favicon
jupyterlite-sphinx
ipython
ipykernel
sphinxcontrib-mermaid